block footer
    footer#footer.page-footer.center-on-small-only
        // Footer Links
        .container-fluid
            .row.wow.fadeIn(data-wow-delay='0.2s', style='visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;')
                // First column
                .col-md-4
                    p.column-title.white-text
                        strong About Material Design
                    .column-content
                        p.thin-100.white-text
                            strong Material Design
                            |  (codenamed Quantum Paper) is a design language developed by Google.
                            br
                            br
                            strong Material Design for WordPress
                            |  (MDW) is a powerful Material Design Theme for most popular CMS system - WordPress.
                // /.First column
                hr.hidden-md-up
                // Second column
                .col-md-2.offset-md-1
                    p.column-title.white-text USEFUL LINKS
                    ul
                        li
                            a(href='#', data-toggle='modal', data-target='#contactForm') Contact us
                        li
                            a(href='https://mdwp.io/material-design-for-wordpress/') About MDW
                        li
                            a(data-toggle='modal', data-target='#contactForm') Bug Report
                        li
                            a(href='https://mdwp.io/license/') License
                        li
                            a(href='https://mdwp.io/changelog/') ChangeLog
                        li
                            a(href='https://mdwp.io/browsers-and-devices/') Browsers and devices
                // /.Second column
                hr.hidden-md-up
                // Third column
                .col-md-2
                    p.column-title.white-text MDW  Popular
                    ul
                        li
                            a(href='https://mdwp.io/page-generator/') Page Generator
                        li
                            a(href='https://mdwp.io/wordpress-tutorial-buttons/') Buttons
                        li
                            a(href='https://mdwp.io/wordpress-slider/') Slider
                        li
                            a(href='https://mdwp.io/wordpress-tutorial-tags/') Tags
                        li
                            a(href='https://mdwp.io/wordpress-tutorial-footer/') Footer
                        li
                            a(href='https://mdwp.io/wordpress-tutorial-shortcode-generator/') Shortcode Generator
                // /.Third column
                hr.hidden-md-up
                // Fourth column
                .col-md-2
                    p.column-title.white-text Other
                    ul
                        li
                            a(href='https://mdwp.io/wordpress-tutorial-5-min-quick-start/') Installation and configuration
                        li
                            a(href='https://mdwp.io/faq/') FAQ
                        li
                            a(href='https://mdwp.io/forums/forum/support/') Support
                        li
                            a(href='https://mdwp.io/return-refund-policy/') Return/Refund policy
        .footer-copyright.wow.fadeIn(data-wow-delay='0.2s', style='visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;')
            .container-fluid
                | © 2018 Copyright:
                a(href='https://www.MDWP.io')  MDWP.io
        // /.Copyright