extends menu

block title
    title Home
block style
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(href='/stylesheet/bootstrap.min.css', rel='stylesheet')
    link(href='/stylesheet/mdb.min.css', rel='stylesheet')
    link(href='/stylesheet/style.css', rel='stylesheet')

block content
    main
        .row
            img#imglogo.img-fluid(style='margin:auto; display:block;', src='/img/logocirclefree.png', alt='Card image cap')
            img#imglogAzienda.img-fluid(style='margin:auto; display:block;' src='/img/#{parametroAzienda}.png')
        .container-fluid
            .row.justify-content-around
                .col-sm-12.col-md-6.col-lg-2(style='text-align: center; padding-top:20px;')
                    .card.cardHome
                        // Card image
                        img.card-img-top(src='/img/prenota.png')
                        // Card content
                        .card-body
                            // Title
                            h4.card-title
                                a(style='color: #f2411c') Prenota
                            // Text
                            p.card-text
                                | Prenota la tua visita!
                            // Button
                            a.btn.btn-primary(href='prenotazione' style='background-color: #253a50;') Entra
                .col-sm-12.col-md-6.col-lg-2(style='text-align: center; padding-top:20px;')
                    .card.cardHome
                        // Card image
                        img.card-img-top(src='/img/appuntamenti.png')
                        // Card content
                        .card-body
                            // Title
                            h4.card-title
                                a(style='color: #f2411c') Appuntamenti
                            // Text
                            p.card-text
                                | Visualizza gli appuntamenti!
                            // Button
                            a.btn.btn-primary(href='appuntamenti') Entra
                .col-sm-12.col-md-6.col-lg-2(style='text-align: center; padding-top:20px;')
                    .card.cardHome
                        // Card image
                        img.card-img-top(src='/img/contatti.png')
                        // Card content
                        .card-body
                            // Title
                            h4.card-title
                                a(style='color: #f2411c') Contatti
                            // Text
                            p.card-text
                                | Visualizza i tuoi contatti!
                            // Button
                            a.btn.btn-primary(href='rubrica') Entra
                .col-sm-12.col-md-6.col-lg-2(style='text-align: center; padding-top:20px;')
                    .card.cardHome
                        if datiAzienda.pagamenti === true
                            img.card-img-top(src='/img/pagamenti.png')
                        else
                            img.card-img-top(src='/img/pagamenti.png', style ='opacity: 0.3;')
                        // Card content
                        .card-body
                            // Title
                            h4.card-title
                                a(style='color: #f2411c') Pagamenti
                            if datiAzienda.pagamenti === true
                                p.card-text
                                    | Paga!
                                // Button
                                a.btn.btn-primary(href='') Entra
                            else
                                i.fa.fa-exclamation-triangle
                                p.card-text
                                    | A breve potrai anche pagare
                                button.btn.btn-primary(href='', disabled='') Entra
                .col-sm-12.col-md-6.col-lg-2(style='text-align: center; padding-top:20px;')
                    .card.cardHome
                        if datiAzienda.referti === true
                            img.card-img-top(src='/img/referti.png')
                        else
                            img.card-img-top(src='/img/referti.png', style ='opacity: 0.3;')
                        // Card content
                        .card-body
                            // Title
                            h4.card-title
                                a(style='color: #f2411c') Referti
                            if datiAzienda.referti === true
                                p.card-text
                                    | Visualizza i tuoi referti!
                                // Button
                                a.btn.btn-primary(href='referti') Entra
                            else
                                i.fa.fa-exclamation-triangle
                                p.card-text
                                    | A breve potrai anche visualizzare i referti
                                button.btn.btn-primary(href='', disabled='') Entra

block javascript
    script(type='text/javascript', src='/javascript/jquery-3.3.1.min.js')
    script(type='text/javascript', src='/javascript/popper.min.js')
    script(type='text/javascript', src='/javascript/bootstrap.min.js')
    script(type='text/javascript', src='/javascript/mdb.min.js')
    script(type='text/javascript', src='/javascript/menu.js')
