extends menu

block title
    title Home
block style
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(href='/stylesheet/bootstrap.min.css', rel='stylesheet')
    link(href='/stylesheet/mdb.min.css', rel='stylesheet')
    link(href='/stylesheet/style.css', rel='stylesheet')

block content
    .row
        img#imglogo.img-fluid(style='margin:auto; display:block;', src='/img/logocirclefree.png', alt='Card image cap')
        img#imglogAzienda.img-fluid(style='margin:auto; display:block;' src='/img/#{parametroAzienda}.png')
    .container-fluid.m-3
        .row.justify-content-around
            .col-sm-2.col-md-2.col-lg-2(style='text-align: center;')
                .card
                    // Card image
                    img.card-img-top(src='/img/prenota.png')
                    // Card content
                    .card-body
                        // Title
                        h4.card-title
                            a(style='color: #f2411c') Prenota
                        // Text
                        p.card-text
                            | Some quick example text to build on the card title and make up the bulk of the card's content.
                        // Button
                        a.btn.btn-primary(href='prenotazione' style='background-color: #253a50;') Entra
            .col-sm-2.col-md-2.col-lg-2(style='text-align: center;')
                .card
                    // Card image
                    img.card-img-top(src='/img/appuntamenti.png')
                    // Card content
                    .card-body
                        // Title
                        h4.card-title
                            a(style='color: #f2411c') Appuntamenti
                        // Text
                        p.card-text
                            | Some quick example text to build on the card title and make up the bulk of the card's content.
                        // Button
                        a.btn.btn-primary(href='appuntamenti') Entra
            .col-sm-2.col-md-2.col-lg-2(style='text-align: center;')
                .card
                    // Card image
                    img.card-img-top(src='/img/contatti.png')
                    // Card content
                    .card-body
                        // Title
                        h4.card-title
                            a(style='color: #f2411c') Contatti
                        // Text
                        p.card-text
                            | Some quick example text to build on the card title and make up the bulk of the card's content.
                        // Button
                        a.btn.btn-primary(href='rubrica') Entra
            .col-sm-2.col-md-2.col-lg-2(style='text-align: center;')
                .card
                    // Card image
                    img.card-img-top(src='/img/pagamenti.png')
                    // Card content
                    .card-body
                        // Title
                        h4.card-title
                            a(style='color: #f2411c') Pagamenti
                        // Text
                        p.card-text
                            | Some quick example text to build on the card title and make up the bulk of the card's content.
                        // Button
                        a.btn.btn-primary(href='#') Entra
            .col-sm-2.col-md-2.col-lg-2(style='text-align: center;')
                .card
                    // Card image
                    img.card-img-top(src='/img/referti.png')
                    // Card content
                    .card-body
                        // Title
                        h4.card-title
                            a(style='color: #f2411c') Referti
                        // Text
                        p.card-text
                            | Some quick example text to build on the card title and make up the bulk of the card's content.
                        // Button
                        a.btn.btn-primary(href='#') Entra

block javascript
    script(type='text/javascript', src='/javascript/jquery-3.3.1.min.js')
    script(type='text/javascript', src='/javascript/popper.min.js')
    script(type='text/javascript', src='/javascript/bootstrap.min.js')
    script(type='text/javascript', src='/javascript/mdb.min.js')
    script(type='text/javascript', src='/javascript/menuController.js')