extends layout

block title
    title Ecupt
block style
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(href='/stylesheet/bootstrap.min.css', rel='stylesheet')
    link(href='/stylesheet/mdb.min.css', rel='stylesheet')
    link(href='/stylesheet/style.css', rel='stylesheet')
block body
    body
        .row.mt-5
            .col-4
            .col-4
                form#loginForm
                    p.h4.text-center.mb-4 Log in
                    .md-form
                        i.fa.fa-user.prefix.grey-text
                        input#materialFormUsername.form-control(type='text', name='username')
                        label(for='materialFormUsername') Nome utente
                    .md-form
                        i.fa.fa-lock.prefix.grey-text
                        input#materialFormPassword.form-control(type='password', name='password')
                        label(for='materialFormPassword') Password
                    .text-center.mt-4
                        input.submit.btn.btn-info(type="submit" value="Login")
                    .text-center.mt-4
                        a(target='_blank', href='http://localhost:3000/registrazione')  Registrati
            .col-4
        .row.mt-5
            .col-md-3
            .col-md-6
                img.img-fluid(src='/img/loginTooltip.png', alt='Responsive image')
            .col-md-3


    script(type='text/javascript', src='/javascript/jquery-3.3.1.min.js')
    // Bootstrap tooltips
    script(type='text/javascript', src='/javascript/popper.min.js')
    // Bootstrap core JavaScript
    script(type='text/javascript', src='/javascript/bootstrap.min.js')
    // MDB core JavaScript
    script(type='text/javascript', src='/javascript/mdb.min.js')

    script(type='text/javascript', src='/javascript/indexController.js')