extends layout

block title
    title Ecupt
block style
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(href='/stylesheet/bootstrap.min.css', rel='stylesheet')
    link(href='/stylesheet/mdb.min.css', rel='stylesheet')
    link(href='/stylesheet/style.css', rel='stylesheet')
block body
    body
        div(style='height: 6em')
            .row.my-5
                img#imglogo.logo-login.img-fluid(style='margin:auto; display:block', src='/img/logocirclefree.png', alt='Card image cap')
                img.logo-login.img-fluid(style='margin:auto; display:block', src='/img/#{parametroAzienda}.png', alt='Card image cap')
            .row.justify-content-center(style='margin-bottom: 50px;')
                .col-sm-12.col-md-6.col-lg-6
                    .card.mx-auto.w-50#rowcard
                        .card-body
                            .form-header.morpheus-den-gradient.rounded
                                h3
                                    i.fa.fa-lock
                                    |  Autenticazione:
                            form#loginForm
                                .md-form
                                    i.fa.fa-user.prefix.dark-grey-text
                                    input#materialFormUsername.form-control(type='text', name='username', required='', style='color:#003964')
                                    label(for='materialFormUsername') Nome utente
                                .md-form
                                    i.fa.fa-lock.prefix.dark-grey-text
                                    input#materialFormPassword.form-control(type='password', name='password', required='', style='color:#003964')
                                    label(for='materialFormPassword') Password
                                .text-center.mt-4
                                    button.btn.btn-color-primary.waves-effect.waves-light(type='submit') Entra
                            .text-center.mt-4
                                a#btnRegistrati.btn.btn-color-primary.waves-effect.waves-light(href="registrazione") Registrati
        div#centralModalInfo.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
            div.modal-dialog.modal-notify(role='document')
                div.modal-content
                    div.modal-header.text-center.btn-color-primary
                        h4.modal-title.w-100.font-weight-bold(style='color:white;') Warning
                        button.close(type='button' data-dismiss='modal' aria-label='Close')
                            span.white-text(aria-hidden='true') &times;
                    div.modal-body
                        div.text-center
                            font(size='5')
                                p#paragrafomodalLogin

    script(type='text/javascript', src='/javascript/jquery-3.3.1.min.js')
    script(type='text/javascript', src='/javascript/popper.min.js')
    script(type='text/javascript', src='/javascript/bootstrap.min.js')
    script(type='text/javascript', src='/javascript/mdb.min.js')
    script(type='text/javascript', src='/javascript/indexController.js')