extends layout

block title
    title Ecupt
block style
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(href='/stylesheet/bootstrap.min.css', rel='stylesheet')
    link(href='/stylesheet/mdb.min.css', rel='stylesheet')
    link(href='/stylesheet/style.css', rel='stylesheet')
block body
    body
        div(style='height: 6em')
            .row.my-5
                img#imglogo.logo-login.img-fluid(style='margin:auto; display:block', src='/img/logocirclefree.png', alt='Card image cap')
                img.logo-login.img-fluid(style='margin:auto; display:block', src='/img/#{parametroAzienda}.png', alt='Card image cap')
            .row.justify-content-center(style='margin-bottom: 50px;')
                .col-sm-12.col-md-6.col-lg-6
                    .card.mx-auto.w-50#rowcard
                        .card-body
                            .form-header.morpheus-den-gradient.rounded
                                h3
                                    i.fa.fa-lock
                                    |  Autenticazione:
                            form#loginForm
                                .md-form
                                    i.fa.fa-user.prefix.dark-grey-text
                                    input#materialFormUsername.form-control(type='text', name='username', required='', style='color:#003964')
                                    label(for='materialFormUsername') Nome utente
                                .md-form
                                    i.fa.fa-lock.prefix.dark-grey-text
                                    input#materialFormPassword.form-control(type='password', name='password', required='', style='color:#003964')
                                    label(for='materialFormPassword') Password
                                .text-center.mt-4
                                    button.btn.btn-color-primary.waves-effect.waves-light(type='submit') Entra
                            .text-center.mt-4
                                a#btnRegistrati.btn.btn-color-primary.waves-effect.waves-light(href="registrazione") Registrati
                            .text-center.mt-4
                                a(href='' data-toggle="modal" data-target="#centralModalAlert" style='color:#6C94B2') Password dimenticata?
            #gdprBar.modal.bottom.modal-content-clickable.show(style='padding-right: 16px; display: block;')
                .modal-dialog.modal-frame.modal-bottom.modal-notify.modal-notify
                    .modal-content
                        .modal-body.text-center
                            .d-lg-flex
                                p.pt-3.pr-2(style='flex:4;')
                                    | Questo sito non utilizza cookie analytics di terze parti al fine di raccogliere informazioni aggregate sul numero degli utenti e su come visitano questo sito
                                .d-lg-inline-flex(style='padding-top: 10px;align-items: flex-start;')
                                    a(href='https://app.cupt.it/terminiservizio/display', target="_blank")
                                        button#gdprBtnInformativa.btn.btn-color-primary Leggi Informativa
                                    button#gdprBtnOk.btn.btn-color-primary(type='button')
                                        i.fa.fa-check
                                        | OK
        div#centralModalInfo.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
            div.modal-dialog.modal-notify(role='document')
                div.modal-content
                    div.modal-header.text-center.btn-color-primary
                        h4.modal-title.w-100.font-weight-bold(style='color:white;') Warning
                        button.close(type='button' data-dismiss='modal' aria-label='Close')
                            span.white-text(aria-hidden='true') &times;
                    div.modal-body
                        div.text-center
                            font(size='5')
                                p#paragrafomodalLogin
        div#centralModalAlert.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
            div.modal-dialog.modal-notify(role='document')
                div.modal-content
                    div.modal-header.text-center.btn-color-primary
                        h4.modal-title.w-100.font-weight-bold(style='color:white;') Recupera password
                        button.close(type='button' data-dismiss='modal' aria-label='Close')
                            span.white-text(aria-hidden='true') &times;
                    div.modal-body
                        .md-form
                            i.fa.fa-envelope.prefix.dark-grey-text
                            input#formEmail.form-control(type='email' required='')
                            label(for='formEmail') Inserisci email
                        .md-form
                            button#btninvioemail.btn.btn-color-primary.btn-lg.btn-block.btn-rounded.enableButtons(type='button' data-dismiss="modal") Invia email di recupero

    script(type='text/javascript', src='/javascript/jquery-3.3.1.min.js')
    script(type='text/javascript', src='/javascript/popper.min.js')
    script(type='text/javascript', src='/javascript/bootstrap.min.js')
    script(type='text/javascript', src='/javascript/mdb.min.js')
    script(type='text/javascript', src='/javascript/index.js')
    script(type='text/javascript', src='/javascript/js.cookie.js')