doctype html
html
head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Accesso

    //CSS
    // Font Awesome
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    // Bootstrap core CSS
    link(href='/stylesheet/bootstrap.min.css', rel='stylesheet')
    // Material Design Bootstrap
    link(href='/stylesheet/mdb.min.css', rel='stylesheet')
    // Your custom styles (optional)
    link(href='/stylesheet/style.css', rel='stylesheet')

    // SCRIPTS
    // JQuery
    script(type='text/javascript', src='/javascript/jquery-3.3.1.min.js')
    // Bootstrap tooltips
    script(type='text/javascript', src='/javascript/popper.min.js')
    // Bootstrap core JavaScript
    script(type='text/javascript', src='/javascript/bootstrap.min.js')
    // MDB core JavaScript
    script(type='text/javascript', src='/javascript/mdb.min.js')

body
    block content
