extends menu
block title
    title Nuovo Contatto
block style
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(href='/stylesheet/bootstrap.min.css', rel='stylesheet')
    link(href='/stylesheet/mdb.min.css', rel='stylesheet')
    link(href='/stylesheet/style.css', rel='stylesheet')
    link(href='/stylesheet/stylemodalregistrazione.css', rel='stylesheet')
block content
    body
        .container
            div(style='height: 10em')
                .row.my-2
                    img#imglogo.img-fluid(style='margin:auto; display:block', src='/img/logocirclefree.png', alt='Card image cap')
            br
            .steps-form-2
                .steps-row-2.setup-panel-2.step-1.d-flex.justify-content-between
                    .steps-step-2
                        a#btn-step-1.btn.btn-amber.btn-circle-2.waves-effect.ml-0.btn-color-primary(href='#step-1', type='button', data-toggle='tooltip', data-placement='top', title='Dati Anagrafici')
                            i.fa.fa-user(aria-hidden='true')
                    .steps-step-2
                        a#btn-step-2.btn.btn-blue-grey.btn-circle-2.waves-effect(href='#step-2', type='button', data-toggle='tooltip', data-placement='top', title='Dati personali')
                            i.fa.fa-pencil(aria-hidden='true')
                    .steps-step-2
                        a#btn-step-3.btn.btn-blue-grey.btn-circle-2.waves-effect.mr-0(href='#step-3', type='button', data-toggle='tooltip', data-placement='top', title='Registrazione completata')
                            i.fa.fa-check(aria-hidden='true')
            form#registrazioneform1
                //step-1
                div.row.setup-content-2#step-1
                    .col-sm-12
                        strong
                            h3.font-weight-bold.pl-0.my-4(style='color:#495057;') Dati Anagrafici
                        .row
                            .col-12
                                .md-form
                                    i.fa.fa-user.prefix.dark-grey-text
                                    input#formNome.form-control.text-uppercase(type='text' required='')
                                    label(for='formNome') Inserisci Nome
                                    small#nomeHelp.form-text.text-muted.red-text.font-italic(style="display: none;") Campo obbligatorio
                        .row
                            .col-12
                                .md-form
                                    i.fa.fa-user.prefix.dark-grey-text
                                    input#formCognome.form-control.text-uppercase(type='text' required='')
                                    label(for='formCognome') Inserisci Cognome
                                    small#cognomeHelp.form-text.text-muted.red-text.font-italic(style="display: none;") Campo obbligatorio
                        .row
                            .col-12
                                .md-form
                                    i.fa.fa-id-card.prefix.dark-grey-text
                                    input#formCodFisc.form-control.text-uppercase(type='text' required='' maxlength="16")
                                    label(for='formCodFisc') Codice Fiscale
                                    small#codice-fiscaleHelp.form-text.text-muted.red-text.font-italic(style="display: none;") Campo obbligatorio
                        .row
                            .col-12.hideinit
                                .md-form
                                    i.fa.fa-calendar.prefix.dark-grey-text
                                    input#date-picker-example.form-control.datepicker(placeholder='Data di nascita', type='text' required='' disabled)
                                    label(for='date-picker-example') Data di nascita
                                    small#data-nascitaHelp.form-text.text-muted.red-text.font-italic(style="display: none;") Campo obbligatorio
                            .col-6.hideinit
                                .md-form
                                    input#listaprovincenascita.form-control(type="text" required='' disabled)
                                    label.campicompilati(for='listaprovincenascita') Provincia di nascita
                                    small#provincia-nascitaHelp.form-text.text-muted.red-text.font-italic(style="display: none;") Campo obbligatorio
                            .col-6.hideinit
                                .md-form
                                    input#listacomunenascita.form-control(type="text" required='' disabled)
                                    label.campicompilati(for='listacomunenascita') Luogo di nascita
                                    small#comunenascitaHelp.form-text.text-muted.red-text.font-italic(style="display: none;") Campo obbligatorio
                        .row
                            .col-6.hideinit
                                .md-form#sesso
                                    input#formSesso.form-control(type="text" required='' disabled)
                                    label.campicompilati(for='formSesso') Sesso
                                    small#sessoHelp.form-text.text-muted.red-text.font-italic(style="display: none;") Campo obbligatorio
                            .col-6
                                .md-form.hideinit
                                    select#statocivile.mdb-select(name='statocivile' required='')
                                        option(value='', disabled='', selected='') Stato civile
                                    small#stato-civileHelp.form-text.text-muted.red-text.font-italic(style="display: none;") Campo obbligatorio

                        .md-form
                            button#btnForm1.btn.btn-color-primary.btn-rounded.float-right(type='button') Avanti
            form#registrazioneform2
                //step-2
                div.row.setup-content-2#step-2
                    .col-sm-12
                        strong
                            h3.font-weight-bold.pl-0.my-4(style='color:#495057;') Dati personali
                        .rov
                            .col-12
                                .md-form
                                    i.fa.fa-envelope.prefix.dark-grey-text
                                    input#formEmail.form-control(type='email' required='')
                                    label(for='formEmail') Inserisci email
                                    small#emailHelp.form-text.text-muted.red-text.font-italic(style="display: none;") campo mancante o email non valida
                        .rov
                            .col-12
                                .md-form
                                    i.fa.fa-phone.prefix.dark-grey-text
                                    input#formTelefono.form-control(type='text' required='' pattern="^[0-9-+s()]*$")
                                    label(for='formTelefono') Numero mobile
                                    small#telefonoHelp.form-text.text-muted.red-text.font-italic(style="display: none;") Campo obbligatorio
                        .row
                            .col-6
                                .md-form
                                    select#listaprovinceresidenza.mdb-select(searchable="Cerca...", name="listaprovince" required='')
                                        option(value='', disabled='', selected='') Provincia di residenza
                                    small#provincia-residenzaHelp.form-text.text-muted.red-text.font-italic(style="display: none;") Campo obbligatorio
                            .col-6
                                .md-form
                                    select#listacomuneresidenza.mdb-select(searchable="Cerca...", required='', name="comuni")
                                        option(value='', disabled='', selected='') Comune di residenza
                                    small#comune-residenzaHelp.form-text.text-muted.red-text.font-italic(style="display: none;") Campo obbligatorio
                        .row
                            .col-12
                                .md-form
                                    i.fa.fa-location-arrow.prefix.dark-grey-text
                                    input#formIndirizzo.form-control.text-uppercase(type='text' required='')
                                    label(for='formIndirizzo') Indirizzo di residenza
                                    small#indirizzoHelp.form-text.text-muted.red-text.font-italic(style="display: none;") Campo obbligatorio
                        br
                        button.btn.btn-color-primary.btn-rounded.prevBtn-2.float-left(type='button') Indietro
                        button#btnregistrazione.btn.btn-color-primary.btn-rounded.float-right(type='button') Registrati
                div.row.setup-content-2#step-3
                    .col-md-12
                        h3.font-weight-bold.pl-0.my-4(style='color:#495057;')
                            strong Fine
                        h2.text-center.font-weight-bold.my-4.green-text Contatto Aggiunto!
                        h2.text-center.font-weight-bold.my-4.green-text Sarai reindirizzato alla lista contatti
block javascript
    script(type='text/javascript', src='/javascript/jquery-3.3.1.min.js')
    script(type='text/javascript', src='/javascript/popper.min.js')
    script(type='text/javascript', src='/javascript/bootstrap.min.js')
    script(type='text/javascript', src='/javascript/mdb.min.js')
    script(type='text/javascript', src='/javascript/nuovoContatto.js')
    script(type='text/javascript', src='/javascript/menu.js')
