extends menu

block title
    title Prenotazione
block style
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(href='/stylesheet/bootstrap.min.css', rel='stylesheet')
    link(href='/stylesheet/mdb.min.css', rel='stylesheet')
    link(href='/stylesheet/style.css', rel='stylesheet')

block content
    .container
        .row
            .col
                blockquote.blockquote.bq-primary
                    p.h4.bq-title Prenotazione
                    p
                        | Invio richiesta prenotazione
        .row
            .container.col-md-6
                    select#selectNominativo.mdb-select
                    label Selezionare il nominativo per continuare
        .row#rowAutoFill
            .container.col-md-6
                    label.disabled(for='nomeAutofill') Nome
                    input#nomeAutofill.form-control(type='text', disabled='')
                    label.disabled(for='cognomeAutofill') Cognome
                    input#cognomeAutofill.form-control(type='text', disabled='')
                    label.disabled(for='codiceFiscaleAutofill') Codice Fiscale
                    input#codiceFiscaleAutofill.form-control(type='text', disabled='')
        .row.m-5#rowCodiceImpegnativa1
            .container.col-md-6
                .text-center.mt-4
                    label#labelcodiceImpegnativa1(for='codiceImpegnativa1') Inserisci il codice Impegnativa
                    input#codiceImpegnativa1.form-control(type='text')
        .row.m-5#rowCodiceImpegnativa2
            .container.col-md-6
                .text-center.mt-4
                    label(for='codiceImpegnativa2') Inserisci il secondo codice Impegnativa
                    input#codiceImpegnativa2.form-control(type='text')

block javascript
        script(type='text/javascript', src='/javascript/jquery-3.3.1.min.js')
        script(type='text/javascript', src='/javascript/popper.min.js')
        script(type='text/javascript', src='/javascript/bootstrap.min.js')
        script(type='text/javascript', src='/javascript/mdb.min.js')
        script(type='text/javascript', src='/javascript/prenotazioneController.js')