extends menu

block title
    title Referti
block style
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(href='/stylesheet/bootstrap.min.css', rel='stylesheet')
    link(href='/stylesheet/mdb.min.css', rel='stylesheet')
    link(href='/stylesheet/style.css', rel='stylesheet')
    link(href='/stylesheet/jquery.dataTables.min.css ', rel='stylesheet')
    link(href='https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css', rel='stylsheet')
    link(href='https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css', rel='stylesheet')

block content
    main
        .container-fluid
            .row
                .col
                    select#selectContatto.mdb-select.colorful-select.dropdown-ins(searchable="Cerca...")
            .row
                .col-sm-12
                    .progress#barra.primary-color-dark
                        .indeterminate
                    label#labelNessunReferto
                .col#colTableReferti.table-responsive
                    table#tableReferti.table.table-striped
                        thead.mdb-color.darken-3
                            tr.text-white
                                th
                                th Data
                                th Descrizione
                                th Evento
                                th Autore
                                th Opzioni
                        tbody
        div#centralModalAlert.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
            div.modal-dialog.modal-notify(role='document')
                div.modal-content
                    div.modal-header.text-center.btn-color-primary
                        h4.modal-title.w-100.font-weight-bold(style='color:white;') Invia tramite email
                        button.close(type='button' data-dismiss='modal' aria-label='Close')
                            span.white-text(aria-hidden='true') &times;
                    div.modal-body
                        .md-form
                            i.fa.fa-envelope.prefix.dark-grey-text
                            input#formEmail.form-control(type='email')
                            label(for='formEmail') Inserisci email
                        .md-form
                                button#btninvioemail.btn.btn-color-primary.btn-lg.btn-block.btn-rounded.enableButtons(type='button' data-dismiss="modal") Invia referto
        div#centralInfo.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
            div.modal-dialog.modal-notify(role='document')
                div.modal-content
                    div.modal-header.btn-color-primary.text-center
                        h4.modal-title.w-100.font-weight-bold(style="color:white;") Info
                        button.close(type='button' data-dismiss='modal' aria-label='Close')
                            span.white-text(aria-hidden='true') &times;
                    div.modal-body
                        div.text-center
                            p#pInfo

block javascript
    script(type='text/javascript', src='/javascript/jquery-3.3.1.min.js')
    script(type='text/javascript', src='/javascript/popper.min.js')
    script(type='text/javascript', src='/javascript/bootstrap.min.js')
    script(type='text/javascript', src='/javascript/mdb.min.js')
    script(type='text/javascript', src='https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')
    script(type='text/javascript', src='https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js')
    script(type='text/javascript', src='https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js')
    script(src='/javascript/referti.js', type='text/javascript')
    script(type='text/javascript', src='/javascript/menu.js')