extends layout

block title
    title Registrazione
block style
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(href='/stylesheet/bootstrap.min.css', rel='stylesheet')
    link(href='/stylesheet/mdb.min.css', rel='stylesheet')
    link(href='/stylesheet/style.css', rel='stylesheet')
    link(href='/stylesheet/stylemodalregistrazione.css', rel='stylesheet')

block content
    body
        .container
            div(style='height: 10em')
                .row.my-2
                    img#imglogo.img-fluid(style='margin:auto; display:block', src='/img/logocirclefree.png', alt='Card image cap')
            br
            br
            .steps-form-2
                .steps-row-2.setup-panel-2.step-1.d-flex.justify-content-between
                    .steps-step-2
                        a#btn-step-1.btn.btn-amber.btn-circle-2.waves-effect.ml-0.btn-color-primary(href='#step-1', type='button', data-toggle='tooltip', data-placement='top', title='Dati account')
                            i.fa.fa-user(aria-hidden='true')
                    .steps-step-2
                        a#btn-step-2.btn.btn-blue-grey.btn-circle-2.waves-effect(href='#step-2', type='button', data-toggle='tooltip', data-placement='top', title='Dati personali')
                            i.fa.fa-pencil(aria-hidden='true')
                    .steps-step-2
                        a#btn-step-3.btn.btn-blue-grey.btn-circle-2.waves-effect.mr-0(href='#step-3', type='button', data-toggle='tooltip', data-placement='top', title='Registrazione completata')
                            i.fa.fa-check(aria-hidden='true')
            form#registrazioneform1
                //step-1
                div.row.setup-content-2#step-1
                    .col-sm-12
                        strong
                            h3.font-weight-bold.pl-0.my-4(style='color:#495057;') Dati account
                        .md-form
                            i.fa.fa-user.prefix.dark-grey-text
                            input#formUsername.form-control(type='text' required)
                            label(for='formUsername') Username
                            small#usernameHelp.form-text.text-muted.font-italic.red-text(style="display: none;") Campo obbligatorio
                        .md-form
                            i.fa.fa-lock.prefix.dark-grey-text
                            input#formPassword.form-control(type='password', required='', pattern="(?=^.{8,}$)((?=.*\\d)|(?=.*\\W+))(?![.\\n])(?=.*[A-Z])(?=.*[a-z]).*$")
                            label(for='formPassword') Inserisci Password
                            small#passwordHelpBlockMD.form-text.text-muted.font-italic La tua password deve contenere 8-20 caratteri, contenere lettere (maiuscole e minuscole) e numeri e non deve contenere spazi, caratteri speciali o emoji.
                        .md-form
                            i.fa.fa-exclamation-triangle.prefix.dark-grey-text
                            input#formConfermaPassword.form-control(type='password', name='conferma', required='', pattern="(?=^.{8,}$)((?=.*\\d)|(?=.*\\W+))(?![.\\n])(?=.*[A-Z])(?=.*[a-z]).*$")
                            label(for='formConfermaPassword') Conferma Password
                            small#confermaPasswordHelp.form-text.red-text.font-italic(style="display: none;")
                        .md-form
                            i.fa.fa-envelope.prefix.dark-grey-text
                            input#formEmail.form-control(type='email' required='')
                            label(for='formEmail') Inserisci email
                            small#emailHelp.form-text.text-muted.red-text.font-italic(style="display: none;") campo mancante o email non valida
                        .md-form
                            i.fa.fa-exclamation-triangle.prefix.dark-grey-text
                            input#formConfermaEmail.form-control(type='email', name='conferma', required='')
                            label(for='formConfermaEmail') Conferma email
                            small#confermaEmailHelp.form-text.text-muted.red-text.font-italic(style="display: none;")
                        .md-form
                            button#btnForm1.btn.btn-color-primary.btn-rounded.float-right(type='button') Avanti
            form#registrazioneform2
                //step-2
                div.row.setup-content-2#step-2
                    .col-12
                        strong
                            h3.font-weight-bold.pl-0.my-4(style='color:#495057;') Dati personali
                        .row
                            .col-6
                                .md-form
                                    input#formNome.form-control.text-uppercase(type='text' required='')
                                    label(for='formNome') Inserisci Nome
                                    small#nomeHelp.form-text.text-muted.red-text.font-italic(style="display: none;") Campo obbligatorio
                            .col-6
                                .md-form
                                    input#formCognome.form-control.text-uppercase(type='text' required='')
                                    label(for='formCognome') Inserisci Cognome
                                    small#cognomeHelp.form-text.text-muted.red-text.font-italic(style="display: none;") Campo obbligatorio
                        .row
                            .col-6
                                .md-form
                                    input#formCodFisc.form-control.text-uppercase(type='text' required='' maxlength="16")
                                    label(for='formCodFisc') Codice Fiscale
                                    small#codice-fiscaleHelp.form-text.text-muted.red-text.font-italic(style="display: none;") Campo obbligatorio
                            .col-6.hideinit
                                .md-form
                                    i.fa.fa-calendar.prefix.dark-grey-text
                                    input#date-picker-example.form-control(type='text' required='' disabled)
                                    label.campicompilati(for='date-picker-example') Data di nascita
                                    small#data-nascitaHelp.form-text.text-muted.red-text.font-italic(style="display: none;") Campo obbligatorio
                        .row
                            .col-6.hideinit.provnascita
                                .md-form
                                    input#listaprovincenascita.form-control(type='text' required='' disabled)
                                    label.campicompilati(for='listaprovincenascita') Provincia di nascita
                                    small#provincia-nascitaHelp.form-text.text-muted.red-text.font-italic(style="display: none;") Campo obbligatorio
                            .col-6.hideinit
                                .md-form
                                    input#listacomunenascita.form-control(type='text' required='' disabled)
                                    label.campicompilati(for='listacomunenascita') Luogo di nascita
                                    small#comunenascitaHelp.form-text.text-muted.red-text.font-italic(style="display: none;") Campo obbligatorio
                        .row
                            .col-6.hideinit
                                .md-form#sesso
                                    input#formSesso.form-control(type='text' required='' disabled)
                                    label.campicompilati(for='formSesso') Sesso
                                    small#sessoHelp.form-text.text-muted.red-text.font-italic(style="display: none;") Campo obbligatorio
                            .col-6.hideinit
                                .md-form
                                    select#statocivile.mdb-select(name='statocivile' required='')
                                        option(value='', disabled='', selected='') Stato civile
                                    small#stato-civileHelp.form-text.text-muted.red-text.font-italic(style="display: none;") Campo obbligatorio
                        .row
                            .col-6.hideinit
                                .md-form
                                    select#listaprovinceresidenza.mdb-select(searchable="Cerca...", name="listaprovince" required='')
                                        option(value='', disabled='', selected='') Provincia di residenza
                                    small#provincia-residenzaHelp.form-text.text-muted.red-text.font-italic(style="display: none;") Campo obbligatorio
                            .col-6.hideinit
                                .md-form
                                    select#listacomuneresidenza.mdb-select(searchable="Cerca...", required='', name="comuni")
                                        option(value='', disabled='', selected='') Comune di residenza
                                    small#comune-residenzaHelp.form-text.text-muted.red-text.font-italic(style="display: none;") Campo obbligatorio
                        .row
                            div.col-6.hideinit
                                .md-form
                                    input#formIndirizzo.form-control.text-uppercase(type='text' required='')
                                    label(for='formIndirizzo') Indirizzo di residenza
                                    small#indirizzoHelp.form-text.text-muted.red-text.font-italic(style="display: none;") Campo obbligatorio
                            .col-6.hideinit
                                .md-form
                                    input#formTelefono.form-control(type='text' required='' pattern="^[0-9-+s()]*$")
                                    label(for='formTelefono') Numero mobile
                                    small#telefonoHelp.form-text.text-muted.red-text.font-italic(style="display: none;") Campo obbligatorio
                        br
                        .row
                            .col-12.hideinit
                                input#checkboxterms.form-check-input(type='checkbox')
                                label.dark-grey-text.form-check-label(for='checkboxterms') Prima di continuare accetta
                                    a.font-italic(href='#' data-toggle='modal' data-target='#modalTermini')  termini e condizioni
                                small#terminiHelp.form-text.text-muted.red-text.font-italic(style="display: none;") Per continuare devi accettare i termini e condizioni
                        br
                        button.btn.btn-color-primary.btn-rounded.prevBtn-2.float-left(type='button') Indietro
                        button#btnregistrazione.btn.btn-color-primary.btn-rounded.float-right(type='button') Registrati
                div.row.setup-content-2#step-3
                    .col-md-12
                        h3.font-weight-bold.pl-0.my-4(style='color:#495057;')
                            strong Fine
                        h2.text-center.font-weight-bold.my-4.green-text Registrazione Completata!
                        h2.text-center.font-weight-bold.my-4.green-text Sarai reindirizzato alla pagina di accesso
    div#centralModalError.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
        div.modal-dialog.modal-notify(role='document')
            div.modal-content
                div.modal-header.text-center.btn-color-primary
                    h4.modal-title.w-100.font-weight-bold(style='color:white;') Warning
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span.white-text(aria-hidden='true') &times;
                div.modal-body
                    div.text-center
                        font(size='5')
                            p#paragrafomodalError
    div#modalTermini.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
        .modal-dialog(role='document' style='max-width=900px;')
            .modal-content
                .modal-header.text-center.btn-color-primary
                    h3#exampleModalLabel.modal-title.w-100.font-weight-bold(style='color:white;') Informativa ai sensi art. 13 Regolamento UE 2016/679
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    div
                        h4.text-center Regolamento relativo alla protezione delle persone fisiche con riguardo al trattamento dei dati personali nonché alla libera circolazione di tali dati
                        p La presente informativa è resa, nel rispetto degli artt. 13 e 14 del Regolamento UE 679/2016 (di seguito anche “Regolamento”), agli utilizzatori (di seguito anche “Utenti” oppure “Utente”) dell’Applicazione E-CUPT (di seguito anche “App”) di proprietà di GESAN S.r.l., quest’ultima Titolare del Trattamento dei dati personali (di seguito anche “Titolare”), ed ha lo scopo di descrivere le modalità di gestione della App con riferimento al trattamento dei dati personali. I servizi offerti dal Titolare sono rivolti a persone di età superiore ai 18 anni.
                        h4.text-center Principi applicabili al trattamento dei dati personali
                        p Il Titolare, ai sensi e per gli effetti del Regolamento, rende noto che la citata normativa prevede la tutela delle persone fisiche rispetto al trattamento dei dati personali, e che tale trattamento sarà improntato ai principi di correttezza, liceità, trasparenza e di tutela della riservatezza e dei diritti fondamentali.
                        h4.text-center Tipologia dei dati trattati
                        p I dati personali dell'utente tratati per l'erogazione del servizio:
                        ul
                            li Nome
                            li Cognome
                            li Luogo e data di nascita
                            li Dati particolari relativi allo stato di salute (tipologia di prestazione sanitaria richiesta)
                        h4.text-center Finalità, base giuridica del trattamento e facoltatività del conferimento
                        p I dati personali raccolti dal Titolare attraverso l’utilizzo dell’App sono trattati per le finalità di seguito descritte:
                        ul
                            li A. fornire ai pazienti che utilizzano l’App un servizio di prenotazione visite mediche o altre prestazioni sanitarie, comprensivo dell’invio pop-up di notifica;
                            li B. per verificare la completezza, la validità e la correttezza dei dati forniti, anche al fine di risalire ad autori di eventuali illeciti ed evitare frodi informatiche unicamente nel caso di specifiche richieste delle competenti Autorità.
                        p Non vengono effettuate attività né di marketing né di profilazione degli utenti, né per scopi commerciali né per altre finalità.
                            | Per le finalità di cui alle lettere A e B, il Titolare applica, quale base giuridica del trattamento, la necessità di trattare i dati personali ai fini dell’esecuzione del Contratto, in particolare per consentire una gestione completa del processo di Prenotazione, ai sensi dell’art. 6, lett. b) del Regolamento.
                            | Il trattamento dei dati particolari relativi allo stato di salute avviene sulla base dell’art. 9 par. 2 lett. h) del Regolamento UE 2016/679, ovvero per la gestione dei sistemi e servizi sanitari nazionali.
                            | Il conferimento dei dati per le finalità di cui alle lettere A e B è facoltativo, ma un eventuale rifiuto comporterà l’impossibilità del Titolare di erogare i servizi oggetto delle lettere sopra indicate.
                        h4.text-center Modalità di trattamento e conservazione dei dati personali
                        p I dati personali sono trattati in formato cartaceo e/o elettronico, anche mediante l'ausilio di procedure automatizzate. I dati raccolti ed oggetto di trattamento saranno protetti con metodologie fisiche e logiche tali da ridurre al minimo i rischi di accesso non consentito, diffusione, perdita e distruzione dei dati, ai sensi degli art. 25 e 32 del Regolamento.
                            | Il trattamento dei dati avrà durata non superiore a quanto necessario per soddisfare le finalità per le quali sono stati raccolti. In particolare, i dati identificativi (nome, cognome, luogo e data di nascita) ed i dati relativi allo stato di salute verranno trattati solamente per il tempo necessario alla erogazione della prestazione sanitaria richiesta.
                            | I dati relativi allo stato di salute non verranno mai conservati.
                            | Unicamente i dati identificativi verranno conservati, esclusivamente su server di proprietà di GESAN s.r.l., per 10 anni successivi all’erogazione della prestazione per finalità amministrativo/contabile e di esercizio del diritto di difesa in giudizio.
                        h4.text-center Destinatari dei dati personali
                        p I dati personali raccolti potranno essere trattati da soggetti o categorie di soggetti che agiscono come Responsabili del trattamento dei dati ai sensi dell’art. 28 del Regolamento e a dipendenti di GESAN s.r.l. e  che sono autorizzati al trattamento dei dati ai sensi dell’art. 29 del Regolamento.
                            | Inoltre, per alcuni servizi, i dati potranno essere comunicati a Partner (ad esempio strutture sanitarie, cliniche ed altri professionisti sanitari) con l'unico intento di erogare i servizi richiesti dall'Utente. In questi casi, i Partner sono autonomi titolari, pertanto il Titolare non è responsabile del trattamento dei dati da parte degli stessi. Il Titolare inoltre non è responsabile dei contenuti e del rispetto della normativa in tema di protezione dei dati personali da parte di siti non gestiti dal Titolare.
                            | In particolare, i dati forniti dall’Utente potranno essere condivisi dal Titolare con le seguenti terze parti esclusivamente per erogare i servizi richiesti dall'Utente o ottemperare altri obblighi normativi:
                        ul
                            li Sogei - Società Generale d'Informatica S.p.A. con l’intento di consentire al paziente di prenotare la prestazione sanitaria richiesta presso la struttura scelta;
                            li Professionisti o strutture che offrono prestazioni sanitarie con l’intento di consentire al paziente di usufruire della prestazione sanitaria richiesta presso la struttura scelta;
                                | Al di fuori delle suindicate ipotesi, i dati personali non saranno oggetto di comunicazione se non nei confronti di soggetti, enti e Autorità verso cui la comunicazione sia obbligatoria in forza di disposizioni di legge o di regolamento.
                        h4.text-center Trasferimento dei dati a un paese terzo o a un'organizzazione internazionale
                        p I dati personali raccolti tramite il Sito e App, non saranno trasferiti al di fuori del territorio nazionale.
                        h4.text-center Raccolta dati di navigazione
                        p I sistemi informatici e le procedure tecniche e software sottostanti il funzionamento dell’App acquisiscono, nel corso del loro normale esercizio, alcuni dati personali la cui trasmissione è implicita nei meccanismi di accesso e funzionamento e dei protocolli in uso su Internet.
                            | Ogni volta che l’Utente si collega all’App e ogni volta che richiama o richiede un contenuto i dati d’accesso vengono memorizzati presso i nostri sistemi, sotto forma di file di dati tabellari o lineari.
                            | Rientrano in questa categoria di dati, ad esempio, gli indirizzi IP, i nomi a dominio dei computer utilizzati dagli utenti che si connettono all’App, la richiesta da parte del browser dell’Utente, sotto forma di indirizzi in notazione URI (Uniform Resource Identifier), la data e l’ora della richiesta al server, il metodo utilizzato nel sottoporre la richiesta al server, la quantità di dati trasmessa, il codice numerico indicante lo stato della risposta data dal server ed altri parametri relativi al sistema operativo e all'ambiente informatico dell'Utente.
                        h4.text-center Diritti dell'interessato
                        p Ai sensi degli artt. dal 15 al 22 del Regolamento, l’Utente, quale soggetto interessato, ha la facoltà di esercitare specifici diritti inerenti i suoi dati personali. In particolare, l’Interessato ha diritto di ottenere:
                        ul
                            li 1. la conferma dell’esistenza o meno di dati personali che lo riguardano, anche se non ancora registrati, in forma concisa, trasparente, intelligibile e facilmente accessibile, con un linguaggio semplice e chiaro;
                            li 2. l'indicazione
                            ul
                                li a. dell’origine dei dati personali;
                                li b. delle finalità e modalità di trattamento;
                                li c. dei legittimi interessi perseguiti dal Titolare o da terzi;
                                li d. degli eventuali destinatari o le eventuali categorie di destinatari dei dati personali;
                                li e. dell’eventuale intenzione del titolare di trasferire dati personali a un paese terzo o a un'organizzazione internazionale;
                                li f. del periodo di conservazione dei dati personali;
                                li g. della logica applicata, nonché l'importanza e le conseguenze previste di tale trattamento per l'interessato, in caso di trattamento effettuato con l’ausilio di strumenti elettronici nell’ambito di un processo automatico di raccolta e/o profilazione;
                                li h. degli estremi identificativi del Titolare, dei Responsabili, dell’eventuale Rappresentante designato e del Responsabile della protezione dei Dati (c.d. DPO);
                                li i. dei soggetti e delle categorie di soggetti ai quali i dati personali possono essere comunicati o che possono venirne a conoscenza in qualità di rappresentante designato nel territorio dello Stato, di responsabili o incaricati;
                            li 3. la possibilità di proporre un reclamo ad un’Autorità di controllo;
                            li 4. l’aggiornamento, la rettificazione ovvero, quando vi ha interesse, l’integrazione dei dati;
                            li 5. la cancellazione, la trasformazione in forma anonima o il blocco dei dati trattati in violazione della legge, compresi quelli di cui non è necessaria la conservazione in relazione agli scopi per i quali i dati sono stati raccolti o successivamente trattati;
                            li 6. la limitazione al trattamento;
                            li 7. la portabilità dei dati personali che lo riguardano ad altro Titolare del trattamento;
                            li 8. la revoca del trattamento;
                            li 9. l’attestazione che le operazioni di cui alle lettere a) e b) sono state portate a conoscenza, anche per quanto riguarda il loro contenuto, di coloro ai quali i dati sono stati comunicati o diffusi, eccettuato il caso in cui tale adempimento si rivela impossibile o comporta un impiego di mezzi manifestatamente sproporzionato rispetto al diritto tutelato;
                            li 10. l’opposizione, in tutto o in parte, per motivi legittimi, al trattamento dei dati personali che lo riguardano, ancorché pertinenti allo scopo della raccolta.
                        h4.text-center Titolare del trattamento
                        p Il titolare del trattamento è GESAN S.r.l. con sede in Via Torino 14 - 81020 San Nicola la Strada (CE),  P. IVA 02364520615. - C.F. 06693080639, in persona del legale rappresentante Pasquale Russo.
                            | Per esercitare i diritti al punto precedente o per conoscere l’elenco aggiornato degli eventuali Responsabili del Trattamento nominati dalla Società, l'interessato potrà rivolgersi in ogni momento al Titolare ai contatti di seguito riportati:
                        ul
                            li Mediante posta elettronica all’apposito indirizzo gesan@gesan.it
                            li Mediante lettera raccomandata al seguente indirizzo: GESAN S.r.l. – Via Torino 14 - 81020 San Nicola la Strada (CE)
                        h4.text-center Modifiche
                        p La presente informativa potrebbe essere soggetta a modifiche. Affinché l’Utente sia sempre aggiornato, il Titolare lo invita a visitare periodicamente questa pagina. Inoltre, qualora tali modifiche abbiano un impatto sui dati relativi all'Utente (ad esempio qualora il Titolare intenda trattare i dati personali dell’Utente per finalità diverse da quelle precedentemente comunicate nella presente Informativa), il Titolare informerà l'Utente prima che tali modifiche abbiano effetto, pubblicandole con la massima evidenza sul proprio Sito e App.

block javascript
        script(type='text/javascript', src='/javascript/jquery-3.3.1.min.js')
        script(type='text/javascript', src='/javascript/popper.min.js')
        script(type='text/javascript', src='/javascript/bootstrap.min.js')
        script(type='text/javascript', src='/javascript/mdb.min.js')
        script(type='text/javascript', src='/javascript/registrazione.js')
