extends layout

block content
    .row.mx-5
        .col
            // Material form register
            form
                p.h4.text-center.mt-5 Registrati
                // Material input text
                .row.mt-5
                    .col-4
                        .md-form
                            i.fa.fa-user.prefix.grey-text
                            input#formUsername.form-control(type='text')
                            label(for='formUsername') Username
                    .col-4
                        // Material input password
                        .md-form
                            i.fa.fa-lock.prefix.grey-text
                            input#formPassword.form-control(type='password')
                            label(for='formPassword') Scegli Password
                    .col-4
                        // Material input email
                        .md-form
                            i.fa.fa-exclamation-triangle.prefix.grey-text
                            input#formConfermaPassword.form-control(type='password')
                            label(for='formConfermaPassword') Conferma Password
                .row.mt-5
                    .col-4
                        .md-form
                            i.fa.fa-envelope.prefix.grey-text
                            input#formEmail.form-control(type='email')
                            label(for='formEmail') La tua email
                        // Material input email
                    .col-4
                        .md-form
                            i.fa.fa-exclamation-triangle.prefix.grey-text
                            input#formConfermaEmail.form-control(type='email')
                            label(for='formConfermaEmail') Conferma email
                    .col-4
                        .md-form
                            i.fa.fa-user.prefix.grey-text
                            input#formNome.form-control(type='text')
                            label(for='formNome') Inserisci Nome
                .row.mt-5
                    .col-4
                        .md-form
                            i.fa.fa-user.prefix.grey-text
                            input#formCognome.form-control(type='text')
                            label(for='formCognome') Inserisci Cognome
                    .col-4
                        br
                        select.mdb-select()
                            option.rounded-circle(value='M', data-icon='./img/uomo.png') Maschio
                            option.rounded-circle(value='F', data-icon='./img/donna.png') Femmina

                    .col-4
                        .md-form
                            input#formCodFisc.form-control(type='text')
                            label(for='formCodFisc') Codice Fiscale
                .row.mt-5
                    .col-4
                        .md-form
                            input#formTelefono.form-control(type='text')
                            label(for='formTelefono') Inserisci numero telefono
                    .col-4
                        br
                        select#statocivile.mdb-select()
                        option(value='', disabled='',selected='') Seleziona stato civile
                    .col-4
                        .md-form
                            input#date-picker-example.form-control.datepicker(placeholder='Seleziona data di nascita', type='text')
                            label(for='date-picker-example') Data di nascita
                    .col-4
                        br
                        select#listaprovincenascita.mdb-select(searchable="Cerca...")
                            option(value='', disabled='',selected='') Seleziona Provincia di nascita
                .row.mt-5
                    .col-4
                        br
                        select#listacomunenascita.mdb-select(searchable="Cerca...")
                            option(value='', disabled='',selected='') Seleziona Comune di nascita
                .row.mt-5
                    .col-4
                    .col-4
                        .text-center.mt-4
                            input.submit.btn.btn-info(type="submit" value="Registrati")
                    .col-4

    // SCRIPT controller
    script(type='text/javascript', src='/javascript/registrazioneController.js')
    script.
        $('.datepicker').pickadate({
            monthsFull: ['Gennaio', 'Febbraio', 'Marzo', 'Aprile', 'Maggio', 'Giugno', 'Luglio', 'Agosto', 'Settembre', 'Ottobre', 'Novembre', 'Dicembre'],
            monthsShort: ['Gen', 'Feb', 'Mar', 'Apr', 'Mag', 'Giu', 'Lug', 'Ago', 'Set', 'Ott', 'Nov', 'Dic'],
            weekdaysFull: ['Domenica', 'Lunedì', 'Martedì', 'Mercoledì', 'Giovedì', 'Venerdì', 'Sabato'],
            weekdaysShort: ['Dom', 'Lun', 'Mar', 'Mer', 'Gio', 'Ven', 'Sab'],
            showMonthsShort: undefined,
            showWeekdaysFull: undefined,
            today: 'Oggi',
            clear: 'Cancella',
            close: 'Chiudi',
            firstDay: 1,
            format: 'dd/mm/yyyy',
            formatSubmit: 'dd/mm/yyyy',
            labelMonthNext: 'Mese successivo',
            labelMonthPrev: 'Mese precedente',
            labelMonthSelect: 'Seleziona un mese',
            labelYearSelect: 'Seleziona un anno'
        });
