extends menu

block title
    title Rubrica
block style
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(href='/stylesheet/bootstrap.min.css', rel='stylesheet')
    link(href='/stylesheet/mdb.min.css', rel='stylesheet')
    link(href='/stylesheet/style.css', rel='stylesheet')
    link(href='https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css ', rel='stylesheet')
    link(href='https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css', rel='stylsheet')
block content
    .container
        .col
            p.h4.text-center.mt-5 Rubrica
        // Search form
        .row
            .col.table-responsive
                table.table.table-striped
                    thead.mdb-color.darken-3
                        tr.text-white
                            th  Profilo Presonale
                    tbody
                        tr
                            td  FABRIZIO ANTONIO FIUME
        .col
            // Material form register
            form
                p.text-center.font-weight-normal CONTATTI
        .row
            .col
                select#selectContatto.mdb-select.colorful-select.dropdown-ins(searchable="Cerca...")
                    option(value='', disabled='', selected='') Seleziona l'assistito
                    option(value='David') David Beckham
        .row
            .col.table-responsive

                table#example.display(style='width:100%')

                    thead
                        tr
                            th
                            th NOME
                            th COGNOME



block javascript
    script(type='text/javascript', src='/javascript/jquery-3.3.1.min.js')
    script(type='text/javascript', src='/javascript/popper.min.js')
    script(type='text/javascript', src='/javascript/bootstrap.min.js')
    script(type='text/javascript', src='/javascript/mdb.min.js')
    script(type='text/javascript', src='https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')
    script(type='text/javascript', src='https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js')
    script(type='text/javascript', src='/javascript/rubricaController.js')
