extends menu

block title
    title Verifica Contenuto Impegnativa
block style
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(href='/stylesheet/bootstrap.min.css', rel='stylesheet')
    link(href='/stylesheet/mdb.min.css', rel='stylesheet')
    link(href='/stylesheet/style.css', rel='stylesheet')
    link(href='https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css ', rel='stylesheet')
    link(href='https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css', rel='stylsheet')

block content
    .container-fluid
        .row.justify-content-center
            .col-sm-12.col-md-8.col-lg-8
                // Card
                .card.card-cascade
                    // Card image
                    .view.view-cascade.gradient-card-header.blue-gradient
                        // Title
                        h2.card-header-title.mb-3 Dettagli Impegnativa
                        // Subtitle
                        p.card-header-subtitle.mb-0 Verifica contenuto Impegnativa
                    // Card content
                    .card-body.card-body-cascade.text-center
                        // Text
                        h5.pink-text
                            i.fa.fa-user
                            p#nome
                        h5.pink-text
                            i.fa.fa-user
                            p#cognome
                        h5.pink-text
                            i.fa.fa-barcode
                            p#codiceImpegnativa
                        p.card-text
                            | Di seguito puoi scegliere il reparto utilizzando il menù a tendina contenuto in tabella.
                        hr
        .row
            .col.table-responsive
                table#example.table.table-striped(cellspacing='0', width='100%')
                    thead.mdb-color.darken-3
                        tr.text-white
                            th Prestazione
                            th reparto
                    tbody#bodyDataTable
    div#centralModalAlert.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
        div.modal-dialog.modal-notify(role='document')
            div.modal-content
                div.modal-header.text-center.btn-color-primary
                    h4.modal-title.w-100.font-weight-bold(style='color:white;') Errore
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span.white-text(aria-hidden='true') &times;
                div.modal-body
                    div.text-center
                        font(size='5')
                            p#paragrafomodalPrenotazione
block javascript
    script(type='text/javascript', src='/javascript/jquery-3.3.1.min.js')
    script(type='text/javascript', src='/javascript/popper.min.js')
    script(type='text/javascript', src='/javascript/bootstrap.min.js')
    script(type='text/javascript', src='/javascript/mdb.min.js')
    script(type='text/javascript', src='https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')
    script(type='text/javascript', src='https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js')
    script(src='/javascript/verificaContenutoImpegnativaController.js', type='text/javascript')
